# Archivos y carpetas de Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3

# Entornos virtuales
venv/
env/

# Archivos de configuración locales
.env
*.env

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
