{% load static %}

<h1>Proyectos</h1>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<form method="POST">
    {% csrf_token %}
    <ul>
        {% for proyecto in proyectos %}
        <li>
            <input type="radio" name="proyecto_seleccionado" value="{{ proyecto.id }}">
            {{ proyecto.nombre }} - {{ proyecto.descripcion }}
            <a href="{% url 'detalles_proyecto' proyecto.id %}">Ver detalles del proyecto</a>
            <!-- Botón para eliminar el proyecto -->
            <a href="{% url 'eliminar_proyecto' proyecto.id %}" 
               onclick="return confirm('¿Estás seguro de que deseas eliminar este proyecto?');">Borrar Proyecto</a>
        </li>
        {% endfor %}
    </ul>
    <button type="submit">Seleccionar proyecto y crear tarea</button>
</form>

<a href="{% url 'index' %}">Volver a la página principal</a>
